<form ng-controller="userController">
    <ul class="form-list centered">
        <li>
            <label for="email">Email</label>
            <input class="right-aligned-input" type="email" id="email" placeholder="email" ng-model="user.email"/>
        </li>
        <li>
            <label for="password">Password</label>
            <input class="right-aligned-input" type="password" id="password" placeholder="password" ng-model="user.password"/>
        </li>
        <li class="button-item buttons-right">
            <button id="register" type="submit" class="inline-button submit bold-button" ng-click="register()">Register</button>
        </li>
    </ul>
</form>