.idea
.DS_Store
node_modules
*.css
assets/scripts/js/directives
assets/scripts/js/filters
assets/scripts/js/services
assets/scripts/js/controllers
assets/scripts/js/modules
assets/scripts/js/*.js
lib/js
lib/modules/js
test/js
uploads
dump.rdb