<!DOCTYPE html>
<html lang="en" ng-app="Ambit">
<head>
    <meta charset="utf-8">
    <title>Ambit</title>
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>

    <nav id="top-nav">
        <ul id="top-nav-list" class="horizontal-list">
            <li>
                <a href="#/login" class="undecorated">Login</a>
            </li>
            <li>
                <a href="#/register" class="undecorated">Register</a>
            </li>
            <li>
                <a href="#/how-it-works" class="undecorated">How It Works</a>
            </li>
            <li>
                <a href="#/pricing" class="undecorated">Pricing</a>
            </li>
            <li>
                <a href="#/about" class="undecorated">About</a>
            </li>
            <li>
                <a href="#/contact" class="undecorated">Contact</a>
            </li>
            <li class="stretch-list-item"></li>
        </ul>
    </nav>

    <div id="notifications" ng-controller="notificationController" ng-class="type" ng-init="getNotifications()">
        {{notification}}
    </div>
    <div ng-view></div>


    <script type='text/javascript' src="/assets/scripts/js/lib/angular.js"></script>
    <script type='text/javascript' src="/assets/scripts/js/app.js"></script>
    <script type='text/javascript' src="/assets/scripts/js/filters.js"></script>
    <script type='text/javascript' src="/assets/scripts/js/services.js"></script>
    <script type='text/javascript' src="/assets/scripts/js/directives.js"></script>
    <script type='text/javascript' src="/assets/scripts/js/lib/require.js"></script>
    <script>
        require.config({
            baseUrl: '/assets/scripts/js/'
        });
    </script>
</body>
</html>