<!DOCTYPE html>
<html lang="en" ng-app="Ambit">
<head>
    <meta charset="utf-8">
    <title>Ambit</title>
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
    <nav id="top-nav" ng-controller="userController" ng-init="getUser();">
        <ul id="logged-out-nav" class="top-nav-list horizontal-list ng-cloak" ng-class="user.type" ng-hide="user.loggedIn">
            <li>
                <a href="#/login" class="undecorated">Login</a>
            </li>
            <li>
                <a href="#/register" class="undecorated">Register</a>
            </li>
            <li>
                <a href="#/how-it-works" class="undecorated">How It Works</a>
            </li>
            <li>
                <a href="#/pricing" class="undecorated">Pricing</a>
            </li>
            <li>
                <a href="#/about" class="undecorated">About</a>
            </li>
            <li>
                <a href="#/contact" class="undecorated">Contact</a>
            </li>
            <li class="stretch-list-item"></li>
        </ul>
        <ul id="logged-in-nav" class="top-nav-list horizontal-list" ng-class="user.type" ng-show="user.loggedIn">
            <li>
                <a href="#/write" class="undecorated">Write</a>
            </li>
            <li>
                <a href="#/read" class="undecorated">Read</a>
            </li>
            <li>
                <a href="#/account" class="undecorated">{{user.email}}</a>
            </li>
            <li>
                <a href="#/" class="undecorated" ng-click="logOut()">Log Out</a>
            </li>
            <li class="stretch-list-item"></li>
        </ul>
    </nav>

    <div id="notifications" ng-controller="notificationController" ng-class="type" ng-init="getNotifications()">
        {{notification}}
    </div>
    <div ng-view></div>


    <script type='text/javascript' src="/assets/scripts/js/lib/angular.js"></script>
    <script type='text/javascript' src="/assets/scripts/js/app.js"></script>
    <script type='text/javascript' src="/assets/scripts/js/filters.js"></script>
    <script type='text/javascript' src="/assets/scripts/js/services.js"></script>
    <script type='text/javascript' src="/assets/scripts/js/directives.js"></script>
    <script type='text/javascript' src="/assets/scripts/js/lib/require.js"></script>
    <script>
        require.config({
            baseUrl: '/assets/scripts/js/'
        });
    </script>
</body>
</html>