.centered {
  display: inline-block;
}
.horizontal-list {
  list-style-type: none;
  overflow: hidden;
  text-align: justify;
}
.horizontal-list li {
  display: inline-block;
}
.horizontal-list .stretch-list-item {
  display: inline-block;
  width: 100%;
  *display: inline;
  zoom: 1;
}
.undecorated {
  text-decoration: none;
}
.form-list {
  list-style-type: none;
  text-align: justify;
}
.form-list li {
  overflow: hidden;
}
.form-list label {
  display: inline-block;
  float: left;
  margin-right: 1em;
}
.form-list input {
  display: inline-block;
  float: right;
}
.buttons-right {
  text-align: right;
}
.buttons-right .inline-button {
  display: inline-block;
}
.bold-button {
  display: inline-block;
  background: rgba(33, 33, 33, 0.8);
  border: none;
  color: white;
  padding: 0.7em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-size: .7em;
  cursor: pointer;
}
